pandas
matplotlib
numpy
seaborn
scikit-learn

google-generativeai==0.8.6
langchain==0.2.16
langchain-community==0.2.16
langchain-chroma==0.1.4
langchain-ollama==0.1.7
langchain-google-genai==2.0.11

protobuf==3.20.3

pymupdf
pypdf
joblib

streamlit==1.32.2
pysqlite3-binary

chromadb==0.5.3
