google-generativeai==0.8.4
langchain==0.3.19
langchain-community==0.3.18
langchain-chroma==0.2.2
langchain-google-genai==2.0.11
langchain-text-splitters==0.3.6
chromadb==0.6.3
streamlit==1.51.0
pandas==2.2.3
python-dotenv==1.0.1
